/* normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]), [hidden] {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
  font-family: sans-serif;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
button, input, select, textarea {
  font-family: sans-serif;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}
q:before, q:after {
  content: '';
  content: none;
}

/* 2 */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure, form {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button, input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */
/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/*
 * Removes inner padding that is displayed in S5, Chrome on OS X
 */
/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.onoffswitch {
  position: relative;
  width: 74px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 47px;
  -moz-border-radius: 47px;
  -ms-border-radius: 47px;
  -o-border-radius: 47px;
  border-radius: 47px;
}

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transform: translateZ(0);
  -webkit-transition: margin 0.3s ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner > div {
  -webkit-border-radius: 47px;
  -moz-border-radius: 47px;
  -ms-border-radius: 47px;
  -o-border-radius: 47px;
  border-radius: 47px;
  float: left;
  width: 50%;
  height: 23px;
  padding: 0;
  line-height: 23px;
  font-size: 13px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner .onoffswitch-active {
  padding-left: 12px;
  background-color: #EEEEEE;
  color: #4CAAE4;
}

.onoffswitch-inner .onoffswitch-inactive {
  padding-right: 12px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  width: 27px;
  margin: 0px;
  background: #A1A1A1;
  border: 2px solid #FFFFFF;
  border-radius: 47px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 47px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #4CAAE4;
}

/* jQuery UI - v1.9.1 - 2012-11-21
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.autocomplete.css, jquery.ui.menu.css
* Copyright (c) 2012 jQuery Foundation and other contributors Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table;
}

.ui-helper-clearfix:after {
  clear: both;
}

.ui-helper-clearfix {
  zoom: 1;
}

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-autocomplete {
  position: absolute;
  top: 0;
  /* #8656 */
  cursor: default;
}

/* workarounds */
* html .ui-autocomplete {
  width: 1px;
}

/* without this, the menu expands to 100% in IE6 */
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none;
}

.ui-menu .ui-menu {
  margin-top: -3px;
  position: absolute;
}

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  width: 100%;
}

.ui-menu .ui-menu-divider {
  margin: 5px -2px 5px -2px;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
}

.ui-menu .ui-state-disabled {
  font-weight: normal;
  margin: .4em 0 .2em;
  line-height: 1.5;
}

.ui-menu .ui-state-disabled a {
  cursor: default;
}

/* icon support */
.ui-menu-icons {
  position: relative;
}

.ui-menu-icons .ui-menu-item a {
  position: relative;
  padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
  position: absolute;
  top: .2em;
  left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
  position: static;
  float: right;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #3cade5;
}

#root {
  position: relative;
  visibility: hidden;
}

#sidebar {
  width: 30%;
  background: #fafafa;
  border-right: 1px solid #eee;
  float: left;
  height: 100%;
  overflow: auto;
}

#main {
  padding: 30px;
  width: 70%;
  float: left;
  position: relative;
  height: 100%;
}
#main .field {
  width: 70%;
}

#config {
  display: none;
}
#config form .field {
  padding: 5px 20px;
}
#config form label {
  display: block;
  float: left;
  width: 50%;
}
#config form input {
  width: 50%;
  float: right;
}
#config form .onoffswitch {
  float: right;
}
#config form .onoffswitch label {
  width: auto;
}

#domains ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#domains ul li {
  position: relative;
}
#domains ul li + li {
  border-top: 1px solid #eee;
}
#domains ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
#domains ul li a:hover {
  background: #f6f6f6;
}
#domains ul li .remove {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: #ddd;
}
#domains ul li .remove:hover {
  color: #BD1D01;
}

.panel-nav {
  margin: 20px;
}
.panel-nav a {
  margin-right: 5px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 4px 8px;
  border: 1px solid #ddd;
  color: #aaa;
  font-size: 13px;
}
.panel-nav a.active {
  color: #666;
  border-color: #aaa;
}

.panel .alert-box {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  color: #666;
  font-weight: bold;
  font-size: 13px;
}
.panel .alert-box.notice {
  background: #fff5da;
  border: 1px solid #ffe8a7;
}

.no-results {
  border: 1px dashed #ddd;
  color: #aaa;
  padding: 10px;
  margin: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  color: #aaa;
  padding: 10px 0;
}

#domain, #secret {
  font-size: 23px;
  padding: 10px;
  color: #666;
}

form .field {
  overflow: hidden;
  *zoom: 1;
}
form label {
  font-size: 14px;
  color: #555;
}

input {
  width: 100%;
  padding: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #dddddd 0 1px 2px inset;
  -moz-box-shadow: #dddddd 0 1px 2px inset;
  box-shadow: #dddddd 0 1px 2px inset;
  border: 1px solid #ddd;
  background: #fafafa;
  outline: none;
  -webkit-transition: background 0.15s ease-out;
  -moz-transition: background 0.15s ease-out;
  -o-transition: background 0.15s ease-out;
  transition: background 0.15s ease-out;
  margin-bottom: 10px;
}
input:focus {
  background: #fff;
}
input[readonly] {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

hr {
  margin: 11px 0 10px;
  border: 0;
  border-bottom: 1px dashed #dadada;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-menu {
  border: 1px solid #eee;
  background: white;
  list-style: none;
  margin: 0;
  padding: 0;
}
.ui-menu .ui-menu-item a {
  display: block;
  padding: 8px 20px;
}
.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
  background: #f6f6f6;
  font-weight: bold;
}

.swipe-container {
  height: 100%;
}

@media screen and (max-width: 767px) {
  #sidebar, #main {
    width: 100%;
    display: none;
  }

  #sidebar {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  #main {
    display: block;
    border-left: 5px solid #999;
  }
  #main .field {
    width: 100%;
  }
}
