<div id="footer">
  <nav>
    <span>Hatchpass is a project by <a href="http://twitter.com/nicinabox">@nicinabox</a></span>
    <a href="/about">About</a>
    <a href="/privacy">Privacy</a>
  </nav>
</div>