<div id="new_secret" class="panel" data-title="Hatchpass">
  <form action="" method="post" accept-charset="utf-8">
    <div class="field">
      <a href="#domain" class="clear">&times;</a>
      <input type="url" id="domain" name="domain" class="required" placeholder="Eg, google.com">
    </div>
    <div class="field invisible">
      <input type="text" id="secret" name="secret" readonly>
    </div>
  </form>
</div>
