<div id="settings" class="panel" data-title="Settings">
  <form>
     <div class="field switch">
       <label for="caps">Caps</label>
       <%= erb :'shared/_ui_switch', :locals => { :name => 'caps' } %>
    </div>

    <div class="field switch">
      <label for="symbols">Symbols</label>
      <%= erb :'shared/_ui_switch', :locals => { :name => 'symbols' } %>
    </div>

    <div class="field">
      <label for="length">Length</label>
      <input type="number" name="length" value="" id="length" min="6" class="required">
    </div>

    <div class="field">
      <label for="master">Master</label>
      <input type="password" id="master" name="master" value="" class="required">
    </div>

    <div class="field">
      <label for="key">Key</label>
      <input type="text" name="key" value="" id="key" class="required" autocapitalize="off">
    </div>
    <hr>

    <div class="field switch">
      <label for="save_all">Save All</label>
      <%= erb :'shared/_ui_switch', :locals => { :name => 'save_all' } %>
    </div>

  </form>
</div>

<script type="text/template" id="alert-box-template">
  <div class="alert-box ${type}">${content}</div>
</script>