<div id="sidebar">
  <nav class="panel-nav">
    <a href="#domains">
      <span>Domains</span>
    </a>
    <a href="#config">
      <span>Config</span>
    </a>
  </nav>

  <%= erb :_domains %>
  <%= erb :_config %>
</div>
<div id="main">
  <%= erb :_form %>
  <%= erb :_footer %>
</div>

<script type="text/template" id="recent-domain-template">
  <a href='#${url}' class='domain'>
    ${url}
  </a>
  <a href='#remove' class='remove'>&times;</a>
</script>